node_modules/
output/
.DS_Store
.env
npm-debug.log
yarn-debug.log
yarn-error.log
.vscode/
.idea/
.vscode-test/
*.tgz
*.log
*.pid
*.gz
*.zip
*.tar
*.tar.gz
*.tgz
*.swp
*.swo
*.bak
*.tmp
*.temp
*.orig
*.cache
*.coverage
*.nyc_output
coverage/
dist/
build/
public/
temp/
logs/
*.pid.lock
*.seed
*.pid.lock.*
*.pid.*
uploads/
tobeprocessed/
outputs/
temp_merge_1754605011478_0.mp4
temp/
temp_output.mp3
main.js
.gitignore
